---
title: Vivement Rimbaud
author: ossama
date: '2021-05-21'
slug: sensations
categories:
  - R
tags:
  - plot
---

<script src="{{< blogdown/postref >}}index_files/header-attrs/header-attrs.js"></script>


<div id="titre" class="section level1">
<h1>Sensations</h1>
<div id="sous-titre" class="section level2">
<h2>sous-titre</h2>
<p>Je ne parlerai pas je ne penserai rien, mais l’amour infini me montera dans l’âme. Et j’irai loin, bien loin, comme un bohémien. Par la Nature, heureux comme avec une femme</p>
</div>
</div>
